:root {
    --background-gray1: #545454;
    --background-gray2: #7a7a7a;
    --background-gray3: #949494;
    --background-gray4: #bebebe;
    --color-white: #fff;
    --color-alternative: #444;
    --color-secondary: #ff7066;
    --color-thirty: #0dd657;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-white);
    font-family: Arial;
}

body {
    background-color: var(--background-gray1);
}

h2 {
    margin-bottom: 1.8rem;
}


#main-container {
    background-color: var(--background-gray2);
    position: relative;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.9rem;
    margin-top: 5vh;
}

fieldset {
    padding: 1.6rem;
}

#add-container {
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-alternative);
}

#add-container input, #add-container button {
    padding: 10px;
    width: 80%;
    border: none;
    display: inline-block;
    background-color: var(--background-gray3);
}


#add-container button {
    width: 18%;
    cursor: pointer;
    transition: 0.5s;
}


#add-container button i{
    color: var(--color-secondary);
}


#add-container button:hover{
    background-color: var(--color-secondary);
}

#add-container button:hover > i{
    color: var(--color-alternative);
}

.task {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-alternative);
    position: relative;


}

.hide {
    display: none;
}

.task:hover .fa-trash-can {
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}

.fa-solid.fa-check {
    border-radius: 50%;
    border: 1px solid var(--color-alternative);
    padding: 7px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;

}

.fa-solid.fa-check.done {
    color: var(--color-thirty);
    border: 1px solid var(--color-thirty);
}

.fa-solid.fa-check:hover { 
    color: var(--color-secondary);
    border: 1px solid var(--color-white);
}

.fa-solid.fa-trash-can {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.task .task-title {
    margin: 0 auto;
}

#empty-tasks {
    text-align: center;
}


/*Mobile*/
@media(max-width: 480px) {
    body {
        padding: 20px;
    }    

    h2 {
        text-align: center;
    }
    
    #main-container {
        max-width: 100%;
        margin-top: 0;
    }

    .fa-solid.fa-trash-can {
        display: block;
    }

}
